.container {
	position: relative;
	overflow: scroll;
	width: 100%;
	height: 100%;
	background-color: var(--mdc-theme-background);
	color: var(--mdc-theme-on-surface);
}

.outletContainer {
	position: relative;
	height: calc(100% - 56px);
}
