.status {
	&.closed {
		color: #CCCCCC;
	}
	
	&.connected {
		color: #279B23;
	}
	
	&.open {
		color: #FEC106;
	}
	
	&.error {
		color: #E61B24;
	}

	&.text {
		text-decoration: underline;
		text-transform: uppercase;
	}
}
